<div class="row">
  <!-- Test View-->
  <div class="col-3">
    <div class="row ms-2" >
      <div class="modal-content container mt-3" style="width: 400px;height:370px">
        <label class="mt-2"><b>Topic</b></label>
        <input type="text"  id="topic" value="{{test.topic}}" required>
        <label><b>Test Name</b></label>
        <input type="text"  id="name"  value="{{test.name}}" required>
        <label><b>Level</b></label>
        <input type="text"  id="level" value="{{test.level}}" required>
        <div class="row justify-content-end mb-2">
          <div class="col-5">
            <button type="button" style="background-color: #C44336" >Delete</button>
          </div>
          <div class="col-5">
            <button type="button" >Update</button>
          </div>
        </div>
      </div>
      <button class="bg-secondary mt-2" (click)="showCreateQuestion()">Create A New Question</button>
      <button class="bg-secondary mt-2">Add Exist Questions</button>
    </div>
  </div>
  <!-- Question List -->
  <div class="col-4 m-2">
    <div class="modal-content container mt-1" style="height:570px" *ngIf="questionList.length == 0">
      <h1 class="text-secondary">No Data</h1>
    </div>
    <div class="modal-content container mt-1" style="height:570px; overflow: auto" *ngIf="questionList.length > 0">
      <div class="modal-content container mt-1" style="width: 400px"  *ngFor="let question of questionList">
        <div class="row border-bottom ms-1 me-2">
          <div class="col-3 ms-2">
            <label class="h6">{{'#'+ question.id}}</label><br>
          </div>
          <div class="col-5 ">
            <label class="h6">{{question.style}}</label><br>
          </div>
          <div class="col-3">
            <label class="h6">{{"points: " + question.point}}</label><br>
          </div>
        </div>
        <div class="row">
          <div class="col-8 border-end" style="height: 100px; overflow: auto">
            <div class="m-2 h5">{{question.question}}</div>
          </div>
          <div class="col-3 ms-2 me-2 ">
            <div class="row mt-2">
              <button class="form-control btn btn-sm btn-outline-success pt-0" style="height:22px" (click)="showCurrentQuestion(question)">VIEW  </button>
              <button class="form-control btn btn-sm btn-outline-warning pt-0" style="height:22px" >REMOVE</button>
              <button class="form-control btn btn-sm btn-outline-danger  pt-0" style="height:22px" >DELETE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Question Editor-->
  <div class="col-4">
    <!-- Edit Question -->
    <div *ngIf="showEditQuestionView == true">
      <div class="modal-content container mt-3 mb-3" style="width:600px;min-height:510px">
        <div class="row" *ngIf="currentQuestion.style=='Short Answer'">
          <label><b>Question</b></label>
          <textarea type="text"  id="currentQuestion">{{currentQuestion.question}}</textarea>
          <label><b>Answer</b></label>
          <textarea type="text"  id="currentAnswer" style="height: 168px">{{currentQuestion.answer}}</textarea>
          <label><b>Point</b></label>
          <input type="number"  id="currentPoint"  value="{{currentQuestion.point}}"  required>
        </div>

        <div class="row" *ngIf="currentQuestion.style=='Single Choice'">
          <label><b>Question</b></label>
          <textarea type="text"  id="currentQuestion">{{currentQuestion.question}}</textarea>
          <div class="row" style="min-height: 200px">
            <div class="col-6 border-end">
              <div class="row border-bottom">
                <label><i class="bi bi-plus-square"><b> Choice</b></i></label>
              </div>
              <span *ngFor="let c of currentChoiceList; let i = index" >
            <input class="me-1" id="{{'currentChoice'+i}}" type="text" style="width:85%;height:20px" value="{{c}}" ><i class="bi bi-dash-square" ></i>
          </span>

            </div>
            <div class="col-6">
              <div class="row border-bottom">
                <label><b>Answer</b></label>
              </div>
              <div class="mt-1" *ngFor="let c of currentChoiceList; let i = index">
                <input class="me-1" type="radio" name="answer" value="{{c}}" id="{{'selectedCurrentChoice' + i}}" *ngIf="isAnswer(i)" checked><label *ngIf="isAnswer(i)==true" >{{c}}</label>
                <input class="me-1" type="radio" name="answer" value="{{c}}" id="{{'selectedCurrentChoice' + i}}" *ngIf="isAnswer(i)==false" ><label *ngIf="isAnswer(i)==false">{{c}}</label>
              </div>
            </div>
          </div>
          <label><b>Point</b></label>
          <input type="number"  id="currentPoint"  value="{{currentQuestion.point}}"  required>
        </div>

        <div class="row" *ngIf="currentQuestion.style=='Multiple Choice'">
          <label><b>Question</b></label>
          <textarea type="text"  id="currentQuestion">{{currentQuestion.question}}</textarea>
          <div class="row" style="min-height: 200px">
            <div class="col-6 border-end">
              <div class="row border-bottom">
                <label><i class="bi bi-plus-square" ><b> Choice</b></i></label>
              </div>
              <span *ngFor="let c of currentChoiceList; let i = index" >
            <input class="me-1" id="{{'currentChoice'+i}}" type="text" style="width:85%;height:20px" value="{{c}}" ><i class="bi bi-dash-square"></i>
          </span>
            </div>
            <div class="col-6">
              <div class="row border-bottom">
                <label><b>Answer</b></label>
              </div>
              <div class="mt-1" *ngFor="let c of currentChoiceList; let i = index">
                <input class="me-1" type="checkbox" name="answer" value="{{c}}" id="{{'selectedCurrentChoice' + i}}" *ngIf="isAnswer(i)" checked><label *ngIf="isAnswer(i)==true" >{{c}}</label>
                <input class="me-1" type="checkbox" name="answer" value="{{c}}" id="{{'selectedCurrentChoice' + i}}" *ngIf="isAnswer(i)==false" ><label *ngIf="isAnswer(i)==false">{{c}}</label>
              </div>
            </div>
          </div>
          <label><b>Point</b></label>
          <input type="number"  id="currentPoint"  value="{{currentQuestion.point}}"  required>
        </div>

        <div class="row justify-content-end">
          <div class="col-3">
            <button type="button" >Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- New Question -->
    <div *ngIf="showCreateNewQuestionView==true">
      <div class="modal-content container mt-3 mb-3" style="width:600px;min-height:510px" *ngIf="newQuestion.style==''">
        <div class="row">
          <div class="col-12 text-center">
            <div class="mt-4">
              <h2 style="text-align:center;margin:20px 0 5px;">Please Choose Question Type</h2>
              <select class="mt-2 text-center" id="newQuestionStyle" (change)="getNewQuestionType()">
                <option value="" >Choose Question Type</option>
                <option value="Single Choice"  >Single Choice</option>
                <option value="Multiple Choice">Multiple Choice</option>
                <option value="Short Answer"   >Short Answer</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-content container mt-3 mb-3" style="width:600px;min-height:510px" *ngIf="newQuestion.style!=''">
        <div class="row">
          <div class="col-2 text-center">
            <button (click)="removeQuestionType()">Back</button>
          </div>
          <div class="col-8 text-center">
            <h2 style="text-align:center;margin:20px 0 5px;">{{newQuestion.style}}</h2>
          </div>
        </div>

        <div class="row" *ngIf="newQuestion.style=='Short Answer'">
          <label><b>Question</b></label>
          <textarea type="text"  id="newQuestion">{{newQuestion.question}}</textarea>
          <label><b>Answer</b></label>
          <textarea type="text"  id="newAnswer">{{newQuestion.answer}}</textarea>
          <label><b>Point</b></label>
          <input type="number"  id="newPoint"  value="{{newQuestion.point}}"  required>
        </div>

        <div class="row" *ngIf="newQuestion.style=='Single Choice'">
          <label><b>Question</b></label>
          <textarea type="text"  id="newQuestion">{{newQuestion.question}}</textarea>
          <div class="row" style="min-height: 200px">
            <div class="col-6 border-end">
              <div class="row border-bottom">
                <label><i class="bi bi-plus-square" (click)="addChoice()"><b> Choice</b></i></label>
              </div>
              <span *ngFor="let c of choiceList; let i = index" >
            <input class="me-1" id="{{'choice'+i}}" type="text" style="width:90%;height:20px" value="{{c}}" (change)="autoSaveChoice(i)"><i class="bi bi-dash-square" (click)="removeChoice(i)"></i>
          </span>

            </div>
            <div class="col-6">
              <div class="row border-bottom">
                <label><b>Answer</b></label>
              </div>
              <div class="mt-1" *ngFor="let c of choiceList; let i = index">
                <input class="me-1" type="radio" name="answer" value="{{c}}" id="{{'selectedChoice' + i}}"><label>{{c}}</label>
              </div>
            </div>
          </div>
          <label><b>Point</b></label>
          <input type="number"  id="newPoint"  value="{{newQuestion.point}}"  required>
        </div>

        <div class="row" *ngIf="newQuestion.style=='Multiple Choice'">
          <label><b>Question</b></label>
          <textarea type="text"  id="newQuestion">{{newQuestion.question}}</textarea>
          <div class="row" style="min-height: 200px">
            <div class="col-6 border-end">
              <div class="row border-bottom">
                <label><i class="bi bi-plus-square" (click)="addChoice()"><b> Choice</b></i></label>
              </div>
              <span *ngFor="let c of choiceList; let i = index" >
            <input class="me-1" id="{{'choice'+i}}" type="text" style="width:90%;height:20px" value="{{c}}" (change)="autoSaveChoice(i)"><i class="bi bi-dash-square" (click)="removeChoice(i)"></i>
          </span>

            </div>
            <div class="col-6">
              <div class="row border-bottom">
                <label><b>Answer</b></label>
              </div>
              <div class="mt-1" *ngFor="let c of choiceList; let i = index">
                <input class="me-1" type="checkbox" name="answer" value="{{c}}" id="{{'selectedChoice' + i}}"><label>{{c}}</label>
              </div>
            </div>
          </div>
          <label><b>Point</b></label>
          <input type="number"  id="newPoint"  value="{{newQuestion.point}}"  required>
        </div>

        <div class="row justify-content-end">
          <div class="col-3">
            <button type="button" (click)="submit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
