<div class="modal-content container mt-5 pt-4" style="height: 360px">
  <h2 style="text-align:center;margin:20px 0 5px;">Enter Your Name</h2>
  <div class="mt-4">
    <label><b>User Name</b></label>
    <input type="text" name="userName" id="userName"  placeholder="Enter Your Name"     required>
  </div>

  <button type="button" (click)="submit()">Submit</button>

  <div id='message' class='m-3 text-center h6 text-secondary'>
    <div class="m-2">
      Please setup your username. <br>Once you submit, you cannot change it anymore.
    </div>
  </div>

</div>
