<div class="modal-content animate container mt-5 mb-5">
  <h2 style="text-align:center;margin:20px 0 5px;">Reset Your Password</h2>

  <div id='message' class='m-3 text-center h6 text-secondary'>
    <div class="m-2"><br>
    </div>
  </div>

  <label><b>Original Password</b></label>
  <input type="password" id="oldPassword" placeholder="Original Password" required>
  <label><b>New Password</b></label>
  <input type="password" id="password" placeholder="New Password"  required>
  <label><b>ConfirmPassword</b></label>
  <input type="password" id="confirm" placeholder="Confirm Password"  required>
  <button type="button" (click)="resetPassword()">Reset Password</button>
</div>
