.progress{
  height: 10px;
  bottom: 0px;
  width: 100%;
}

.progress-bar
{
  bottom: 0px;
  height: 10px;
  background: #095099;
  position: relative;
  animation: animate-positive;
  animation-duration: 5s;
}

@keyframes animate-positive {
  0% { width: 0%;}
}

