<div class="container mt-4">

  <div class="row justify-content-center" *ngIf="startTest == false">
    <div class="card mt-4" style="width: 850px">
      <label class="h4 m-2 mt-4"> · You have 20 minutes to complete the test.</label>
      <label class="h4 m-2"> · Once you click the start button, the TIMER will start.</label>
      <label class="h4 m-2"> · During the TEST process, you will not be able to pause or cancel.</label>
      <label class="h4 m-2"> · After you start test, the clock will appear in the upper right corner.</label>
      <label class="h4 m-2"> · When you answer the question, your answer is automatically SAVED.</label>
      <label class="h4 m-2"> · Once you have completed all questions, please click the "Submit" button.</label>
      <div class="row text-center justify-content-center">
        <button class="btn btn-primary btn-lg px-2 m-4" style="width: 200px" (click)="startButton()">Start</button>
      </div>
    </div>
  </div>

  <div class="row" style="min-height: 400px;" *ngIf="startTest == true">
    <div class="col-2">
      question List
    </div>
    <div class="col-10">
      <div class="row justify-content-end">
        clock
      </div>
      <div class="row border">
        <div class="col-2"><</div>
        <div class="col-8">
          <div class="row">
            {{currentQuestion.question}}
          </div>
          <div class="row">
            <label *ngFor="let a of currentQuestion.answers">{{a}}</label>
          </div>
        </div>
        <div class="col-2"> > </div>
      </div>
    </div>
  </div>
</div>
