/* You can add global styles to this file, and also import other style files */
/* Full-width input fields */
input[type=text], input[type=password], input[type=number], textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=radio], input[type=checkbox]
{
  margin: 8px 0;
  height:22px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 20px 0 25px 0;
  position: relative;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  padding-bottom: 21px;
  max-width:100%;width: 400px; /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
  position: absolute;
  display: none;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.titleUnderLine
{
  text-decoration: underline;
  text-underline-offset:1em;
}

.setCard, .lockedCard
{
  width: 300px;
  height: 172px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  border-radius: 6px
}

.setCard-title, .lockedCard-title {
  border: 1px;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 1px;
  background-color: rgba(0, 128, 240, 0.1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px
}

.setCard-footer,.lockedCard-footer
{
  border: 1px;
  font-size: 20px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 2px;
  background-color: rgba(0, 128, 240, 0.1);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px
}

.setCard:hover, .lockedCard:hover
{
  box-shadow: 0px 0px 15px rgba(0,0,0,0.9);
}

.setCard-body:hover
{
  background:#095099;
  color:#EEE;
}

.lockedSet
{
  position: relative;
}

.lockedSet::before
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}
.lockedText
{
  position: relative;
  top: -70px;
  z-index: 1;
  color: #fff;
  font-size: 4em;
}

.dashboardCard1,.dashboardCard2, .dashboardCard3,.dashboardCard4
{
  width: 400px;
  height: 150px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  border-radius: 6px;
  color: black;
  text-decoration: none;
}

.logoCard
{
  margin-top:5em;
  width : 100px;
  height: 100px;
  font-size: 6em;
}

.dashboardCard1:hover, .dashboardCard2:hover, .dashboardCard3:hover, .dashboardCard4:hover
{
  box-shadow: 0px 0px 15px rgba(0,0,0,0.9);
  color: white;
}

.dashboardCard1:hover
{
  background-color: #095099;
}

.dashboardCard2:hover
{
  background-color: #C44336;
}

.dashboardCard3:hover
{
  background-color: #4CAF50;
}

.dashboardCard4:hover
{
  background-color: #ffb606;
}


